# Clock
NET "clock"			LOC = "E12"	|	IOSTANDARD = LVCMOS33;

# LEDs
NET "ledA"        LOC = "W21"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "ledB"        LOC = "Y22"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "ledOp"       LOC = "V20"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "output(0)"	LOC = "V19"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "output(1)"	LOC = "V20"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "output(2)"	LOC = "Y22"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "output(3)"	LOC = "W21"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

##############################################################################
# Directional Push-Buttons (BTN)
##############################################################################

NET "rst"      LOC = "T16"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
#NET "BTN_NORTH"     LOC = "T14"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "botaoEntradaDoNumeroY"     LOC = "T15"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "botaoEntradaDoNumeroX"      LOC = "U15"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;

##############################################################################
# Rotary Knob (ROT)
##############################################################################

#NET "ROT_CENTER"    LOC = "R13"  | IOSTANDARD = LVCMOS33 | PULLDOWN ;
#NET "ROT_A"         LOC = "T13"  | IOSTANDARD = LVCMOS33 | PULLUP ;
#NET "ROT_B"         LOC = "R14"  | IOSTANDARD = LVCMOS33 | PULLUP ;

##############################################################################
# Mechanical Switches (SW)
##############################################################################

NET "entradaUla(0)"         LOC = "V8"   | IOSTANDARD = LVCMOS33 ;
NET "entradaUla(1)"         LOC = "U10"  | IOSTANDARD = LVCMOS33 ;
NET "entradaUla(2)"         LOC = "U8"   | IOSTANDARD = LVCMOS33 ;
NET "entradaUla(3)"         LOC = "T9"   | IOSTANDARD = LVCMOS33 ;