# Clock
NET "clock"			LOC = "E12"	|	IOSTANDARD = LVCMOS33;

# LEDs
NET "ledA"        LOC = "W21"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "ledB"        LOC = "Y22"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "ledOp"       LOC = "V20"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "output(0)"	LOC = "R20"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "output(1)"	LOC = "T19"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "output(2)"	LOC = "U20"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;
NET "output(3)"	LOC = "U19"	|	IOSTANDARD = LVCMOS33 | DRIVE = 8 | SLEW = SLOW ;

# Input buttons
NET "buttonA"		LOC = "U15"	|	IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "buttonB"		LOC = "T16"	|	IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "buttonOp"		LOC = "T15"	|	IOSTANDARD = LVCMOS33 | PULLDOWN ;
NET "reset"			LOC = "T14"	|	IOSTANDARD = LVCMOS33 | PULLDOWN ;

# Input switches
NET "input(0)"		LOC = "V8"	|	IOSTANDARD = LVCMOS33 ;
NET "input(1)"		LOC = "U10"	|	IOSTANDARD = LVCMOS33 ;
NET "input(2)"		LOC = "U8"	|	IOSTANDARD = LVCMOS33 ;
NET "input(3)"		LOC = "T9"	|	IOSTANDARD = LVCMOS33 ;