//! **************************************************************************
// Written by: Map P.20131013 on Fri Aug 24 16:53:01 2018
//! **************************************************************************

SCHEMATIC START;
COMP "Z<0>" LOCATE = SITE "R20" LEVEL 1;
COMP "Z<1>" LOCATE = SITE "T19" LEVEL 1;
COMP "A<0>" LOCATE = SITE "V8" LEVEL 1;
COMP "A<1>" LOCATE = SITE "U10" LEVEL 1;
COMP "B<0>" LOCATE = SITE "U8" LEVEL 1;
COMP "B<1>" LOCATE = SITE "T9" LEVEL 1;
COMP "S" LOCATE = SITE "T15" LEVEL 1;
SCHEMATIC END;

