NET "Z<0>"		LOC = "R20"  |  IOSTANDARD = LVCMOS33  |  DRIVE = 8  |  SLEW = SLOW;
NET "Z<1>"		LOC = "T19"  |  IOSTANDARD = LVCMOS33  |  DRIVE = 8  |  SLEW = SLOW;
NET "Z<2>"		LOC = "U20"  |  IOSTANDARD = LVCMOS33  |  DRIVE = 8  |  SLEW = SLOW;
NET "Z<3>"		LOC = "U19"  |  IOSTANDARD = LVCMOS33  |  DRIVE = 8  |  SLEW = SLOW;

NET "A<0>"		LOC = "V8"   |  IOSTANDARD = LVCMOS33;
NET "A<1>"		LOC = "U10"  |  IOSTANDARD = LVCMOS33;
NET "A<2>"		LOC = "U8"   |  IOSTANDARD = LVCMOS33;
NET "A<3>"		LOC = "T9"   |  IOSTANDARD = LVCMOS33;